# Question-4 (2-to-1-ratio)

In [1]:
# loading necessary libraries
import numpy as np
import pandas as pd

In [2]:
state_code = []
state_name = []
two_to_one_ratio = []



for i in range(1,10):
    a = pd.read_excel("DDW-C17-0"+str(i)+"00.XLSX",header=5)
    
    # naming columns
    c = ['State_Code','State_Name','Main_Ln_Code','main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    
    # for state code and state name
    y = list(a['State_Code'].dropna().unique())
    state_code.append(("{:02d}".format(y[0])))
    state_name.extend(list(a['State_Name'].dropna().unique()))
    
    # for one language
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln = total_person_Main_Ln + a['Main_Ln_Persons'][i]
    
    
    # for first subsidiary language
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln = total_person_1st_Sub_Ln + a['1st_Sub_Ln_Persons'][i]
    
    # for second subsidiary langauge
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln = total_person_2nd_Sub_Ln + a['2nd_Sub_Ln_Persons'][i]
    
    two_to_one_ratio.append(total_person_1st_Sub_Ln/(total_person_Main_Ln-total_person_1st_Sub_Ln))
    
    
    
    
for i in range(10,36):
    a = pd.read_excel("DDW-C17-"+str(i)+"00.XLSX",header=5)
    
    # naming columns
    c = ['State_Code','State_Name','Main_Ln_Code','main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    # for state code and state name
    state_code.extend(list(a['State_Code'].dropna().unique()))
    state_name.extend(list(a['State_Name'].dropna().unique()))
    
    # for one language
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln = total_person_Main_Ln + a['Main_Ln_Persons'][i]
    
    
    # for first subsidiary language
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln = total_person_1st_Sub_Ln + a['1st_Sub_Ln_Persons'][i]
    
    
    # for second subsidiary langauge
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln = total_person_2nd_Sub_Ln + a['2nd_Sub_Ln_Persons'][i]
        
    two_to_one_ratio.append(total_person_1st_Sub_Ln/(total_person_Main_Ln-total_person_1st_Sub_Ln))

In [3]:
# creating dataframe
df = pd.DataFrame({'state-code':state_code,'state-name':state_name,'2-to-1-ratio':two_to_one_ratio})
df

   state-code                 state-name  2-to-1-ratio
0          01            JAMMU & KASHMIR      0.972488
1          02           HIMACHAL PRADESH      0.221047
2          03                     PUNJAB      0.886261
3          04                 CHANDIGARH      1.219523
4          05                UTTARAKHAND      0.211052
5          06                    HARYANA      0.285304
6          07               NCT OF DELHI      0.683723
7          08                  RAJASTHAN      0.122360
8          09              UTTAR PRADESH      0.129274
9          10                      BIHAR      0.191919
10         11                     SIKKIM      1.755585
11         12          ARUNACHAL PRADESH      1.779785
12         13                   NAGALAND      1.642304
13         14                    MANIPUR      0.946459
14         15                    MIZORAM      0.393272
15         16                    TRIPURA      0.527416
16         17                  MEGHALAYA      0.383443
17         18                      ASSAM      0.863577
18         19                WEST BENGAL      0.197060
19         20                  JHARKHAND      0.435052
20         21                     ODISHA      0.491134
21         22               CHHATTISGARH      0.152711
22         23             MADHYA PRADESH      0.156144
23         24                    GUJARAT      0.749474
24         25                DAMAN & DIU      0.921109
25         26       DADRA & NAGAR HAVELI      1.374895
26         27                MAHARASHTRA      1.044862
27         28             ANDHRA PRADESH      0.342607
28         29                  KARNATAKA      0.658274
29         30                        GOA      3.388014
30         31                LAKSHADWEEP      0.404029
31         32                     KERALA      0.323396
32         33                 TAMIL NADU      0.394664
33         34                 PUDUCHERRY      0.458467
34         35  ANDAMAN & NICOBAR ISLANDS      2.090235

In [4]:
# if we export csv from here state code 1 to 9 will be 1,2,3,4,5,6,7,8,9; not in 01,02,03,...09 format
# making state_code in proper format (for 01, previously it was 1, now it is '01')
df['state-code']=df['state-code'].apply('="{}"'.format)
df

   state-code                 state-name  2-to-1-ratio
0       ="01"            JAMMU & KASHMIR      0.972488
1       ="02"           HIMACHAL PRADESH      0.221047
2       ="03"                     PUNJAB      0.886261
3       ="04"                 CHANDIGARH      1.219523
4       ="05"                UTTARAKHAND      0.211052
5       ="06"                    HARYANA      0.285304
6       ="07"               NCT OF DELHI      0.683723
7       ="08"                  RAJASTHAN      0.122360
8       ="09"              UTTAR PRADESH      0.129274
9       ="10"                      BIHAR      0.191919
10      ="11"                     SIKKIM      1.755585
11      ="12"          ARUNACHAL PRADESH      1.779785
12      ="13"                   NAGALAND      1.642304
13      ="14"                    MANIPUR      0.946459
14      ="15"                    MIZORAM      0.393272
15      ="16"                    TRIPURA      0.527416
16      ="17"                  MEGHALAYA      0.383443
17      ="18"                      ASSAM      0.863577
18      ="19"                WEST BENGAL      0.197060
19      ="20"                  JHARKHAND      0.435052
20      ="21"                     ODISHA      0.491134
21      ="22"               CHHATTISGARH      0.152711
22      ="23"             MADHYA PRADESH      0.156144
23      ="24"                    GUJARAT      0.749474
24      ="25"                DAMAN & DIU      0.921109
25      ="26"       DADRA & NAGAR HAVELI      1.374895
26      ="27"                MAHARASHTRA      1.044862
27      ="28"             ANDHRA PRADESH      0.342607
28      ="29"                  KARNATAKA      0.658274
29      ="30"                        GOA      3.388014
30      ="31"                LAKSHADWEEP      0.404029
31      ="32"                     KERALA      0.323396
32      ="33"                 TAMIL NADU      0.394664
33      ="34"                 PUDUCHERRY      0.458467
34      ="35"  ANDAMAN & NICOBAR ISLANDS      2.090235

In [5]:
# sorting ratios to get states with top 3 and lowest 3 ratios
df.sort_values(by='2-to-1-ratio',ascending=False,inplace=True)
df

   state-code                 state-name  2-to-1-ratio
29      ="30"                        GOA      3.388014
34      ="35"  ANDAMAN & NICOBAR ISLANDS      2.090235
11      ="12"          ARUNACHAL PRADESH      1.779785
10      ="11"                     SIKKIM      1.755585
12      ="13"                   NAGALAND      1.642304
25      ="26"       DADRA & NAGAR HAVELI      1.374895
3       ="04"                 CHANDIGARH      1.219523
26      ="27"                MAHARASHTRA      1.044862
0       ="01"            JAMMU & KASHMIR      0.972488
13      ="14"                    MANIPUR      0.946459
24      ="25"                DAMAN & DIU      0.921109
2       ="03"                     PUNJAB      0.886261
17      ="18"                      ASSAM      0.863577
23      ="24"                    GUJARAT      0.749474
6       ="07"               NCT OF DELHI      0.683723
28      ="29"                  KARNATAKA      0.658274
15      ="16"                    TRIPURA      0.527416
20      ="21"                     ODISHA      0.491134
33      ="34"                 PUDUCHERRY      0.458467
19      ="20"                  JHARKHAND      0.435052
30      ="31"                LAKSHADWEEP      0.404029
32      ="33"                 TAMIL NADU      0.394664
14      ="15"                    MIZORAM      0.393272
16      ="17"                  MEGHALAYA      0.383443
27      ="28"             ANDHRA PRADESH      0.342607
31      ="32"                     KERALA      0.323396
5       ="06"                    HARYANA      0.285304
1       ="02"           HIMACHAL PRADESH      0.221047
4       ="05"                UTTARAKHAND      0.211052
18      ="19"                WEST BENGAL      0.197060
9       ="10"                      BIHAR      0.191919
22      ="23"             MADHYA PRADESH      0.156144
21      ="22"               CHHATTISGARH      0.152711
8       ="09"              UTTAR PRADESH      0.129274
7       ="08"                  RAJASTHAN      0.122360

In [6]:
# extracting states with top 3 and lowest 3 ratios
d1=df.head(3)
d2=df.tail(3)

In [7]:
# making dataframe d2 in lower to higher ratio
d2.sort_values(by='2-to-1-ratio',inplace=True)
d2

<ipython-input-7-0e30955e46b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2.sort_values(by='2-to-1-ratio',inplace=True)

   state-code     state-name  2-to-1-ratio
7       ="08"      RAJASTHAN      0.122360
8       ="09"  UTTAR PRADESH      0.129274
21      ="22"   CHHATTISGARH      0.152711

In [8]:
df1=pd.concat([d1,d2])
df1

   state-code                 state-name  2-to-1-ratio
29      ="30"                        GOA      3.388014
34      ="35"  ANDAMAN & NICOBAR ISLANDS      2.090235
11      ="12"          ARUNACHAL PRADESH      1.779785
7       ="08"                  RAJASTHAN      0.122360
8       ="09"              UTTAR PRADESH      0.129274
21      ="22"               CHHATTISGARH      0.152711

In [9]:
# exporting to csv
df1.to_csv("2-to-1-ratio.csv",index=False)