# Question-4 (3-to-2-ratio)

In [2]:
# loading necessary libraries
import numpy as np
import pandas as pd

In [3]:
state_code = []
state_name = []
three_to_two_ratio = []



for i in range(1,10):
    a = pd.read_excel("DDW-C17-0"+str(i)+"00.XLSX",header=5)
    
    c = ['State_Code','State_Name','Main_Ln_Code','main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    y = list(a['State_Code'].dropna().unique())
    state_code.append(("{:02d}".format(y[0])))
    state_name.extend(list(a['State_Name'].dropna().unique()))
    
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln = total_person_Main_Ln + a['Main_Ln_Persons'][i]
    
    
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln = total_person_1st_Sub_Ln + a['1st_Sub_Ln_Persons'][i]
    
    
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln = total_person_2nd_Sub_Ln + a['2nd_Sub_Ln_Persons'][i]
    
    three_to_two_ratio.append(total_person_2nd_Sub_Ln/(total_person_1st_Sub_Ln-total_person_2nd_Sub_Ln))
    
    
    
    
for i in range(10,36):
    a = pd.read_excel("DDW-C17-"+str(i)+"00.XLSX",header=5)
    c = ['State_Code','State_Name','Main_Ln_Code','main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    # for state code
    state_code.extend(list(a['State_Code'].dropna().unique()))
    state_name.extend(list(a['State_Name'].dropna().unique()))
    
    # for one language
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln = total_person_Main_Ln + a['Main_Ln_Persons'][i]
    
    
    #for first subsidiary language
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln = total_person_1st_Sub_Ln + a['1st_Sub_Ln_Persons'][i]
    
    
    # for second subsidiary langauge
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln = total_person_2nd_Sub_Ln + a['2nd_Sub_Ln_Persons'][i]
        
    three_to_two_ratio.append(total_person_2nd_Sub_Ln/(total_person_1st_Sub_Ln-total_person_2nd_Sub_Ln))

In [8]:
# creating dataframe
df = pd.DataFrame({'state-code':state_code,'state-name':state_name,'3-to-2-ratio':three_to_two_ratio})
df

   state-code                 state-name  3-to-2-ratio
0          01            JAMMU & KASHMIR      0.512903
1          02           HIMACHAL PRADESH      0.387847
2          03                     PUNJAB      1.504216
3          04                 CHANDIGARH      1.248266
4          05                UTTARAKHAND      0.119637
5          06                    HARYANA      0.262649
6          07               NCT OF DELHI      0.248807
7          08                  RAJASTHAN      0.155689
8          09              UTTAR PRADESH      0.127448
9          10                      BIHAR      0.111582
10         11                     SIKKIM      0.873818
11         12          ARUNACHAL PRADESH      0.895499
12         13                   NAGALAND      0.776435
13         14                    MANIPUR      0.799192
14         15                    MIZORAM      0.206305
15         16                    TRIPURA      0.185582
16         17                  MEGHALAYA      0.502259
17         18                      ASSAM      0.430595
18         19                WEST BENGAL      0.237220
19         20                  JHARKHAND      0.189474
20         21                     ODISHA      0.665717
21         22               CHHATTISGARH      0.142680
22         23             MADHYA PRADESH      0.147116
23         24                    GUJARAT      0.494786
24         25                DAMAN & DIU      0.421837
25         26       DADRA & NAGAR HAVELI      0.561055
26         27                MAHARASHTRA      0.523270
27         28             ANDHRA PRADESH      0.416326
28         29                  KARNATAKA      0.476974
29         30                        GOA      1.925807
30         31                LAKSHADWEEP      1.164372
31         32                     KERALA      0.641022
32         33                 TAMIL NADU      0.136187
33         34                 PUDUCHERRY      0.223515
34         35  ANDAMAN & NICOBAR ISLANDS      0.393618

In [9]:
# if we export csv from here state code 1 to 9 will be 1,2,3,4,5,6,7,8,9; not in 01,02,03,...09 format
# making state_code in proper format (for 01, previously it was 1, now it is '01')
df['state-code']=df['state-code'].apply('="{}"'.format)
df

   state-code                 state-name  3-to-2-ratio
0       ="01"            JAMMU & KASHMIR      0.512903
1       ="02"           HIMACHAL PRADESH      0.387847
2       ="03"                     PUNJAB      1.504216
3       ="04"                 CHANDIGARH      1.248266
4       ="05"                UTTARAKHAND      0.119637
5       ="06"                    HARYANA      0.262649
6       ="07"               NCT OF DELHI      0.248807
7       ="08"                  RAJASTHAN      0.155689
8       ="09"              UTTAR PRADESH      0.127448
9       ="10"                      BIHAR      0.111582
10      ="11"                     SIKKIM      0.873818
11      ="12"          ARUNACHAL PRADESH      0.895499
12      ="13"                   NAGALAND      0.776435
13      ="14"                    MANIPUR      0.799192
14      ="15"                    MIZORAM      0.206305
15      ="16"                    TRIPURA      0.185582
16      ="17"                  MEGHALAYA      0.502259
17      ="18"                      ASSAM      0.430595
18      ="19"                WEST BENGAL      0.237220
19      ="20"                  JHARKHAND      0.189474
20      ="21"                     ODISHA      0.665717
21      ="22"               CHHATTISGARH      0.142680
22      ="23"             MADHYA PRADESH      0.147116
23      ="24"                    GUJARAT      0.494786
24      ="25"                DAMAN & DIU      0.421837
25      ="26"       DADRA & NAGAR HAVELI      0.561055
26      ="27"                MAHARASHTRA      0.523270
27      ="28"             ANDHRA PRADESH      0.416326
28      ="29"                  KARNATAKA      0.476974
29      ="30"                        GOA      1.925807
30      ="31"                LAKSHADWEEP      1.164372
31      ="32"                     KERALA      0.641022
32      ="33"                 TAMIL NADU      0.136187
33      ="34"                 PUDUCHERRY      0.223515
34      ="35"  ANDAMAN & NICOBAR ISLANDS      0.393618

In [10]:
# sorting ratios to get states with top 3 and lowest 3 ratios
df.sort_values(by='3-to-2-ratio',ascending=False,inplace=True)
df

   state-code                 state-name  3-to-2-ratio
29      ="30"                        GOA      1.925807
2       ="03"                     PUNJAB      1.504216
3       ="04"                 CHANDIGARH      1.248266
30      ="31"                LAKSHADWEEP      1.164372
11      ="12"          ARUNACHAL PRADESH      0.895499
10      ="11"                     SIKKIM      0.873818
13      ="14"                    MANIPUR      0.799192
12      ="13"                   NAGALAND      0.776435
20      ="21"                     ODISHA      0.665717
31      ="32"                     KERALA      0.641022
25      ="26"       DADRA & NAGAR HAVELI      0.561055
26      ="27"                MAHARASHTRA      0.523270
0       ="01"            JAMMU & KASHMIR      0.512903
16      ="17"                  MEGHALAYA      0.502259
23      ="24"                    GUJARAT      0.494786
28      ="29"                  KARNATAKA      0.476974
17      ="18"                      ASSAM      0.430595
24      ="25"                DAMAN & DIU      0.421837
27      ="28"             ANDHRA PRADESH      0.416326
34      ="35"  ANDAMAN & NICOBAR ISLANDS      0.393618
1       ="02"           HIMACHAL PRADESH      0.387847
5       ="06"                    HARYANA      0.262649
6       ="07"               NCT OF DELHI      0.248807
18      ="19"                WEST BENGAL      0.237220
33      ="34"                 PUDUCHERRY      0.223515
14      ="15"                    MIZORAM      0.206305
19      ="20"                  JHARKHAND      0.189474
15      ="16"                    TRIPURA      0.185582
7       ="08"                  RAJASTHAN      0.155689
22      ="23"             MADHYA PRADESH      0.147116
21      ="22"               CHHATTISGARH      0.142680
32      ="33"                 TAMIL NADU      0.136187
8       ="09"              UTTAR PRADESH      0.127448
4       ="05"                UTTARAKHAND      0.119637
9       ="10"                      BIHAR      0.111582

In [16]:
# extracting states with top 3 and lowest 3 ratios
d1=df.head(3)
d2=df.tail(3)

In [17]:
# making dataframe d2 in lower to higher ratio
d2.sort_values(by='3-to-2-ratio',inplace=True)
d2

<ipython-input-17-e8075965ad58>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2.sort_values(by='3-to-2-ratio',inplace=True)

  state-code     state-name  3-to-2-ratio
9      ="10"          BIHAR      0.111582
4      ="05"    UTTARAKHAND      0.119637
8      ="09"  UTTAR PRADESH      0.127448

In [18]:
df1=pd.concat([d1,d2])
df1

   state-code     state-name  3-to-2-ratio
29      ="30"            GOA      1.925807
2       ="03"         PUNJAB      1.504216
3       ="04"     CHANDIGARH      1.248266
9       ="10"          BIHAR      0.111582
4       ="05"    UTTARAKHAND      0.119637
8       ="09"  UTTAR PRADESH      0.127448

In [19]:
# exporting to csv
df1.to_csv("3-to-2-ratio.csv",index=False)